/*  your css code here. If applicable */
.ele{
	padding : 4%
}
.upp{
		background-color : white;
}

.t1{
	line-height : 1px;
	padding:1%;
	margin:2%;
}

	/*  your css code here. If applicable */
.low{
		background-color : white;
}

.t2{
	line-height : 1px;
	padding:2%;
}