.container {
    width: 80%;
    margin: auto;
}

.card {
    background-color: white;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
    line-height: 1.4;
}

.author {
    text-align: right;
}
